*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 overflow:hidden;
}


.shape1{
    position:fixed;
    top: 0px;
    left: -20%;
    padding: 20px;
    width: 70vw;
    height: 70vh;
    flex-shrink: 0;
    background-image: url("../images/shape1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
    animation:shape1A 150s linear infinite;
}
.shape2{
    position: fixed;
    right: -25%;
    bottom: 0px;
    width: 70vw;
    height: 70vh;
    background-image: url("../images/shape2.png");
    background-repeat: no-repeat;
    flex-shrink: 0;
    background-position:center;
    background-size:contain;
    overflow: hidden;
    animation:shape1B 150s linear infinite;
}
.box{
    position: fixed;
    left: 50%;
    top: 50%;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.164);
    box-sizing: border-box;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-size: cover;
    box-shadow:1px 1px 2px rgba(255, 255, 255, 0.705),-1px -1px 2px rgba(255, 255, 255, 0.705);
}
.box form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
.box form input{
    margin: 20px;
    font-size: 20px;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom:2px solid #AE80FF;
    cursor: pointer;
}
.box form .btn-signup{
    background-color: #AE80FF;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.box h1{
    font-size: 20px;
    margin: 5px;
}
.box h3{
     font-size:15px;
     margin: 5px;   
}
.box form .btn-signup:hover{
    box-shadow: 0 0 3px #AE80FF,0 0 10px #AE80FF;
}
input::placeholder{
    color: black;
    text-transform: uppercase;
    
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: rgb(63, 42, 138);
}
@keyframes shape1A{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes shape1B{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@media(max-width: 700px ){
    body{
        overflow: hidden;
    }
    .shape1{
        top: 0px;
        left: -40px;
        width: 300px;
        height: 400px;
        position: absolute;
    }
    .shape2{
        right: -50px;
        bottom: -10px;
        width: 300px;
        height: 300px;
    }
    .box{
        font-size: 20px;
        height: 60%;
        width: 70%;
        text-align: center;
        position: fixed;
    }
    .box form{
        width: 90%;
        
    }
    .box h1{
        font-size: 25px;
        margin: 5px;
    }
    .box h3{
         font-size:15px;
         margin: 5px;   
    }
    .box form input{
        margin: 15px;
        font-size: 20px;
        height: 30px;
    }
}
